/* ================================= 
  Base Element Styles
==================================== */
* {
  box-sizing: border-box;
}
body {
  font-family: 'Varela Round', sans-serif;
  line-height: 1.6;
  margin: 0;
}
p {
  font-size: 1em;
  margin-bottom: 1.8em;
}
.name a {
  color: #000;
}
h2,
h3, 
h4 {
  margin-top: 0;
  margin-bottom: 1%;
}
h2 {
  text-align: center;
  margin-bottom: 3%;
  padding-top: 50px;
  color: #000; 
  text-align: center; 
  line-spacing: .15em; 
  font-weight: 200 !important;
}
h3 {
  padding-top: 25px;
}

.black {
  color: #000 !important;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}
.center {
  text-align: center;
  padding-bottom: 10px;
}

/* ================================ 
  Base Layout Styles
==================================== */
/* ---- Navigation ---- */
.name a,
.navbar a {
  text-align: center;
  display: inline-block;
}
.navbar {
  margin-top: 0;
  padding: 6px 5% 0 5%; 
}

/* ---- Header and Footer ---- */
.main-header {
  margin-bottom: 2%;
  margin-top: 7%;
  text-align: center;
}
.name {
  font-size: 1.65em;
  letter-spacing: .15em;
  font-weight: 800;
  line-height: 1;
}
footer {
  text-align: center;
  background-color: #000;
  color: #fff;
  position: static;
  bottom: 0;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 5px;
}
.copyright {
  padding: 1% 0;
  font-weight: 100;
  letter-spacing: .10em;
}

/* ---- Page Elements ---- */
.photo {
  position: relative;
  line-height: 0;
  margin-bottom: 2em;
  overflow: hidden;
}

.project-photo {
  width: 300px;
  display: block;
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 20px;
}
.project-img {
  width: 70%;
  display: block;
  margin: 0 auto;
}
.project-pic {
  width: 20%;
  display: inline-block;
  padding-top: 40px;
  margin: 0 auto;
}
.textstroke {
  color: white;
  font-weight: 200;
  font-size: 1em;
  letter-spacing: .2em;
  margin-top: -15px;
  text-align: center;
}
.internal-size{
  font-size: 1.1em;
  margin-bottom: 2%;
}

/* --------------------------
  SVG Styles
--------------------------- */
.svg-logo {
  display: block;
  margin: 0 auto;
  text-align: center;
  padding-top: 2%;
  padding-left: 1%;
}
@-webkit-keyframes offset {
 100% {
    stroke-dashoffset: 0;
  } 
} /*for RYC svg*/

/* --------------------------
  arrow
--------------------------- */
.arrow:hover .arrow-icon {
  /*transform: scale(1.2) translateY(20px);*/
  transform: translateY(70px);
  transform-origin: 50% 50%;
}
.arrow-icon {
  transition: transform .2s ease-out;
  transform-origin: 50% 50%;
}
.arrow {
  height: 40px;
}

/***************************************
 PAGE: PORTFOLIO 
****************************************/
/* ---- Photo Overlay ---- */
.photo-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0; 
  left: 0;
  display: flex; /* For centering text inside .photo-overlay */
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.port {
  margin-top: 5%;
}
.proj-header {
  margin: 0 48px;
  white-space: nowrap;
  padding-top: 0;
  text-transform: uppercase;
}

/***************************************
 PAGE: ABOUT
****************************************/
.profile-photo {
  display: block;
  max-width: 200px;
  margin: 0 auto 30px;
  border-radius: 100%;
}
.about-container{
  margin-top: 3%;
  padding: 3% 10% 0 10%; 
}

/***************************************
 PAGE: Skills
****************************************/
.skills-img {
  padding-bottom: 5%;
  max-width: 80%;
  display: block;
  margin: 0 auto;
}
.skills-sec {
  padding-bottom: 10%;
}
/***************************************
 PAGE: CONTACT
****************************************/
.contact-info a {
  color: black;
  font-family: 'Varela Round', sans-serif;
}
.contact-info {
  padding-left: 0;
  padding-right: 25%;
}
.contact-info li {
  display: block;
  max-width: 100%;
  padding-bottom: 5px;
}
/*.gen-infos {
  line-height: 25px;
}*/
.contact {
  padding: 5% 0;
}

/***************************************
 PAGE: GD
****************************************/
.gd-styles {
  padding: 0 20px;
}

/***************************************
 PICTURES
****************************************/
.about-row,
.gallery {
  justify-content: center;  
  padding: 3% 10%;  
}
.ideation,
.fbdesignjam {
  justify-content: center;  
  padding: 2% 10%;  
  margin: 10% 5% 40px 5%;
}
.gal {
  margin-bottom: 30px;
}
.gal-cap {
  text-decoration: none;
  text-align: center;
}

/***************************************
 VIDEOS
****************************************/
.video{
  width: 60%;
}

/* ================================= 
  Media Queries
==================================== */
@media (max-width: 768px) {
  .photo {
    margin-bottom: 0;
    width: 80%;
    margin: 0 auto;
  }
  .svg-logo {
    width: 50%;
    margin-top: 0;
    margin-bottom: 1%;
  }
  .navbar a {
    display: block;
  }
  .name {
    font-size: 1.5em;
  }
  .main-header {
    margin-top: 45px;
  }
  .port-row {
    text-align: center;
  }
  .contact-info {
    padding-right: 35%;
  }
  .about-container {
    min-height: 750px;
  }
  h1 {
    margin-top: 0 !important;
  }
  .skills_icon {
    width: 35%;
  }
}

@media (max-width: 990px) {
  .textstroke {
    display: none;
    font-weight: 100;
  }
  .name {
    display: none;
  }
  .mobile {
    font-size: .85em;
    font-weight: 400;
    letter-spacing: .2em;
    padding-top: 6%;
    padding-bottom: 6%;
    color: #fff;
    background-color: #333;
    text-decoration: none;
    text-align: center;
  }
  .photo {
    margin-bottom: 2em;
  }
  .svg-logo {
    display: none;
  }
  .pics {
    width: 60%;
    max-width: 400px;
    padding-bottom: 20px;
    display: block;
    margin: 0 auto;
  }
  .name {
    padding-top: 30px;
    padding-bottom: 5px;
  }
  .gd-styles {
    margin-top: 50px;
    margin-bottom: 20px;
  }
}

@media (min-width: 990px) and (max-width: 1200px) {
  .photo {
    height: 200px;
  }
}

/***************************************
 Mobile Screen
****************************************/
@media (min-width: 990px) {
  .mobile {
    display: none;
  }
  .name {
    font-size: 1.55em;
    letter-spacing: .15em;
    margin: 0;
    padding-top: 15px;
  }
  .profile-photo {
    display: block;
    margin: 0 auto;
  }
  .photo-overlay {
    background: rgba(0, 0, 0, .85);
  }
  .profile-photo {
    float: left;
    margin: 0 6% 1% 0;
  }
  .pics {
    width: 50%;
    max-width: 300px;
    padding-bottom: 20px;
    display: block;
    margin: 0 auto;
  }
  .contact-container {
    padding-top: 80px;
  }
  .grow {
    transition: all .3s ease-in-out;
  }
  .grow:hover {
    transform: scale(2);
  }
  .grow-horz:hover {
    transform: scale(2.5);
  }
  .gallery {
    margin: 0 auto;
  }

  /* Header Animation for Tablet and Full Size Screens */
  .r,
  .y,
  .c {
    stroke: #000;
    stroke-width: 8;
  }
  .r {
    stroke-dasharray: 550;
    stroke-dashoffset: 550;
    -webkit-animation: offset 2.6s linear forwards; 
  }
  .y {
    stroke-dasharray: 180;
    stroke-dashoffset: 180;
    -webkit-animation: offset 2s linear forwards; 
  }
  .c {
    stroke-dasharray: 325;
    stroke-dashoffset: 325;
    -webkit-animation: offset 2s linear forwards; 
  }

/* ================================= 
  Photo Overlay Transitions
==================================== */
.photo-overlay {
  opacity: 0;
  transition: opacity .5s;
}
.photo-overlay:hover {
  opacity: 1;
}

/* ================================= 
  Image Transforms & Transitions
==================================== */
  img {
    transition: transform .5s cubic-bezier(.7, -0.39, .31, 1.38);
    transform-origin:  0 0;
  }
  .photo img {
    transform-origin: 0 0;  
  }
  .photo:hover img {
    transform: scale(1.05);
  }
}


#easy-top {
  background: rgba(58, 206, 194, 0.85);
  text-align: center;
  position: fixed;
  bottom: 15px;
  right: 15px;
  cursor: pointer;
  width: 38px;
  height: 38px;
  line-height: 38px;
  border-radius: 4px;
  padding: 4px;
  padding-right: 2%;
  display: none;
  -webkit-transform: translateZ(0);
  transition: all .3s ease-out;
}

#easy-top:hover {
  background: rgba(58, 206, 194, 0.6);
}

#easy-top:before,
#easy-top:after {
  -webkit-backface-visibility: hidden;
}

#easy-top:before {
  position: absolute;
  top: 15px;
  left: 18px;
}

#easy-top:after {
  background: #fff;
  position: absolute;
  top: 17px;
  left: 22px;
}
#easy-top span{
  color: white;
  position: absolute;
  top: 12px;
  left: 13px;
}
#easy-top:hover:after {
  border-color: transparent transparent rgba(58, 206, 194, 0.6) transparent;
}